<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"> <span class="label label-info">post {{vm.post_details.id}}</span>  {{vm.post_details.title}}</h3>
	</div>
	<div class="panel-body">
		<pre>
			{{vm.post_details | json}}
		</pre>
	</div>
</div>

<div class="col-xs-12 ">

	<div class=" col-xs-5">
		<div class="input-group ">
			<span class="input-group-addon">start date</span>

			<input type="text"
			       class="form-control"
			       uib-datepicker-popup="yyyy/MM/dd"
			       ng-model="vm.start_date"
			       is-open="vm.status.opened"
			       min-date = "vm.min_date"
			       max-date="vm.max_date"
			       init-date="vm.start_date"
			       ng-required="true"
			       datepicker-append-to-body="true"
			       show-button-bar="false"
			       show-weeks="false"
			       close-text="Close" />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>

		</div></div>
	<div class=" col-xs-5">
		<div class="input-group">
			<span class="input-group-addon">end date</span>
			<input type="text"
			       class="form-control span-md-6"
			       uib-datepicker-popup="yyyy/MM/dd"
			       ng-model="vm.end_date"
			       init-date="vm.end_date + 1"
			       is-open="vm.status.opened"
			       min-date = "vm.min_date"
			       max-date="vm.max_date"
			       close-on-date-selection="false"
			       datepicker-append-to-body="true"
			       show-button-bar="false"
			       show-weeks="false"
			       ng-required="true" close-text="Close" />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>

		</div>
	</div>
	<button class="btn btn-primary" ng-click="vm.loadTrackingData()">re-load tracking data</button>
</div>

<br>
<br>
<br>

<pre class="panel panel-default">
	{{vm.tracking_data | json}}
</pre>

