<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Posts</h3>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a ng-repeat="post in postsData| limitTo:100" href="" ui-sref="posts.details({id: post.id})" class="list-group-item">
					<span class="badge">{{post.id}}</span>
					<span>{{post.title}}</span>
				</a>
			</div>
		</div>
	</div>
</div>

